/* Barra di navigazione principale */
#nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Tutte le immagini */
img {
    width: 180px;
    margin-left: 80%;
}

/* Menu di navigazione */
#menu-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 7%;
}

/* Link */
a {
    text-decoration: none;
    color: rgb(47, 47, 47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Hover link */
a:hover {
    color: rgb(11, 105, 236);
}

/* Barra distanza */
.BarraDistanza {
    font-size: 20px;
    color: rgb(47, 47, 47);
    font-weight: 900;
}

/* Icona */
#icon {
    font-size: 20px;
}

/* Hover icona */
#icon:hover {
    color: rgb(11, 105, 236);
    cursor: pointer;
}

/* Link di navigazione evidenziato */
#link-nav {
    color: white;
    background-color: rgb(11, 105, 236);
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

/* Contenitore introduzione */
#container-intro {
    display: flex;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 3%;
}

/* Contenuto introduzione */
#intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Titolo introduzione */
.titoloIntro {
    font-size: 65px;
    margin: 0;
    line-height: 1.1;
}

/* Paragrafo introduzione */
.paragrafoIntro {
    font-size: 25px;
    margin: 20px 0 0 0;
}

/* Contenitore link/bottone */
#link-container {
    display: inline-block;
    color: white;
    background-color: rgb(215, 104, 8);
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

/* Contenitore immagini verticali */
#containerImg {
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 600px;
}

/* Prima immagine */
.ImgUno {
    width: 700px;
}

/* Seconda immagine */
.ImgDue {
    width: 550px;
    position: relative;
    bottom: 155px;
    left: 75px;
}

/* Terza immagine */
.ImgTre {
    width: 170px;
    position: relative;
    bottom: 270px;
    left: 320px;
}

/* Titolo sezione clienti */
.titolo-client {
    margin-top: -140px;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 54);
}

/* Contenitore immagini clienti */
#container-img-client {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    gap: 25px;
}

/* Immagine singolo cliente */
.immagine-client {
    margin-left: 0;
    width: 30%;
}

/* Contenitore sezione Features */
#container-features {
    background-color: rgb(237, 248, 251);
}

/* Titolo Features */
.titoloFeatures {
    padding-top: 5%;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 54);
}

/* Contenitore card Features */
#cardFeatures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

/* Singola card Feature */
#card {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

/* Icona card */
.icon {
    font-size: 35px;
    color: rgb(0, 89, 255);
}

/* Prima sezione pagina */
#sezioneUnoPagina {
    display: flex;
    align-items: center;
    padding: 5% 10%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Immagine sezione uno */
.img-sec-uno {
    margin-left: 0;
    padding-top: 100px;
    width: 650px;
}

/* Paragrafo sezione uno */
.p-SectionUno {
    width: 85%;
    color: grey;
    font-size: 20px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Seconda sezione pagina */
#sezioneDuePagina {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(237, 248, 251);
}

/* Testo sezione due */
#testo-sezione-due {
    padding-left: 120px;
}

/* Immagine sezione due */
.img-sec-due {
    margin-left: 0px;
    width: 630px;
}

/* Paragrafo sezione due */
.p-SectionDue {
    width: 85%;
    color: grey;
    font-size: 20px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Terza sezione pagina */
#sezioneTrePagina {
    display: flex;
    align-items: center;
    padding: 10%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Immagine sezione tre */
.img-sec-tre {
    margin-left: 0;
    padding-top: 100px;
    width: 650px;
}

/* Paragrafo sezione tre */
.p-SectionTre {
    width: 87%;
    color: grey;
    font-size: 20px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Contenitore assistenza */
#container-assistenza {
    display: flex;
    align-items: center;
    background-color: rgb(1, 3, 88);
}

/* Titolo assistenza */
.titoloAssistenza {
    padding-left: 20%;
    font-size: 50px;
    color: white;
}

/* Paragrafo assistenza */
.p-assistenza {
    padding-left: 20%;
    font-size: 20px;
    width: 70%;
    color: white;
}

/* Immagine assistenza */
.img-assistenza {
    margin-left: 0;
    width: 550px;
    padding-right: 220px;
}

/* Sezione domande frequenti */
#domande {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 20px;
    color: rgb(1, 3, 88);
}

/* Singola domanda */
.linkDomanda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25%;
    position: relative;
    text-decoration: none;
    color: inherit;
}

/* Linea sotto domanda */
.linkDomanda::after {
    content: "";
    display: block;
    width: 900px;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 4px;
}

/* Sezione clienti */
#sezione-clienti {
    background-color: rgb(236, 245, 244);
    padding: 40px 0;
    color: black;
}

/* Titolo clienti */
.titoloClienti {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
}

/* Contenitore clienti */
#container-clienti {
    background-color: rgb(236, 245, 244);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Singolo elemento clienti */
#item-clienti {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 253, 253);
}

/* Icone stelle */
#iconeStelle {
    color: rgb(255, 106, 0);
    font-size: 20px;
}

/* Testo cliente */
.testo {
    width: 330px;
    height: auto;
    font-family: Arial, sans-serif;
}

/* Nome cliente */
.nome {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: -30px;
    font-size: 15px;
}

/* Footer */
#footer {
    background-color: rgb(255, 253, 253);
    display: flex;
    padding-left: 10%;
    gap: 25px;
}

/* Prima parte footer */
#primaParteFooter {
    padding: 15px;
}

/* Immagine footer */
.img-Footer {
    margin-left: 0;
    width: 200px;
}

/* Paragrafo footer */
.paragrafoFooter {
    width: 300px;
}

/* Icone social */
#iconeSocial {
    display: flex;
    gap: 10px;
    font-size: 25px;
}

/* Area Italia */
.italia {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Link nel footer */
#linkFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Singolo link footer */
.link-footer {
    font-size: 15px;
}

/* Contenitore gruppi link */
#containerLink {
    display: flex;
    gap: 120px;
}
