body {
    direction: ltr;  /* Imposta la direzione da sinistra a destra */
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

img{
    width: 180px;
    margin-left: 80%;
}

#menu-nav{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 7%;
}


a{
    text-decoration: none;
    color: rgb(47, 47, 47);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a:hover{
    color: rgb(11, 105, 236);
}

.BarraDistanza{
    font-size: 20px;
    color: rgb(47, 47, 47);
    font-weight:900;    
}

#icon{
    font-size: 20px;
}

#icon:hover{
    color: rgb(11, 105, 236);
    cursor: pointer;
}

#link-nav{
    color: white;
    background-color: rgb(11, 105, 236);
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}


#container-intro {
    display: flex;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 3%; 

}

#intro { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Forza il testo ad allinearsi in alto */ 
} 

.titoloIntro { 
    font-size: 65px; 
    margin: 0; /* Rimuove spazi indesiderati */ 
    line-height: 1.1; 
} 

.paragrafoIntro { font-size: 25px; margin: 20px 0 0 0; } /* IMMAGINI IN COLONNA */ 


#link-container {
    display: inline-block;
    color: white;
    background-color: rgb(215, 104, 8);
    padding: 15px 25px;
    margin-top: 30px; /* Spazio maggiore dal paragrafo */
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none; 

}



#containerImg { 
    margin-left: 7%; 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    right: 600px; 
} /* Immagini */ 


.ImgUno { 
    width: 700px; 
} 

.ImgDue { 
    width: 550px; 
    position: relative; 
    bottom: 155px; 
    left: 75px; 
} 

.ImgTre { 
    width: 170px; 
    position: relative; 
    bottom: 270px; 
    left: 320px; 
}


.titolo-client{
    margin-top: -140px;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 54);
}


#container-img-client{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    margin-left: 10%;
    margin-right: 10%;
    gap: 25px;
}

.immagine-client{
    margin-left: 0;
    width: 30%;
}